html,
body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
header {
	background: linear-gradient(to bottom, #333333, #041c12);
    padding: 20px;
    text-align: center;
}
footer {
	background: linear-gradient(to top, #333333, #041c12);
    padding: 20px;
    text-align: center;
    height: 100px;
}
.white-link {
	color: whitesmoke;
}
#editor-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 20px;
    background-color: #041c12;
}
#language-select {
	display: flex;
	position: relative;
	margin-right: 10px;
	margin-bottom: 20px;
	vertical-align: middle;
}
#language-select label {
	padding: 10px;
	font-size: 16px;
}
#language-select select {
	display: inline-block;
	padding: 10px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	background-color: #333;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	flex: 1;
    margin-left: 30px;
	margin-right: 30px;
}
#run-button {
	display: inline-block;
	padding: 10px;
	font-size: 16px;
	background-color: #333;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	vertical-align: middle;
}
.CodeMirror {
    height: 100%;
}
